body {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 232, 128);
}
img {
    float: left;
    display: block;
}
#calcularPrecio {
    text-align: center;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
